body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;

}
/*Nav*/
.navbar {
    background-color: #FCEFF3;
    border-bottom: 1px solid #F9D6E5;
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.03);
}

.navbar-brand img {
    height: 48px;
    width: auto;
}

.navbar-nav .nav-link {
    color: #A12439;
    font-weight: 500;
    font-size: 15px;
    margin: 0 10px;
    transition: all 0.3s ease-in-out;
    padding: 6px 12px;
    border-radius: 6px;
}

.navbar-nav .nav-link:hover {
    background-color: #f8c3d3;
    color: #84212F;
    text-decoration: none;
}
@media (max-width: 991px) {
    .navbar-brand {
        margin-left: 10px; 
    }
    .navbar-nav {
        text-align: center;
        background-color:  #FCEFF3;
        padding: 10px 0;
    }
}
/*información*/
.container {
    max-width: 800px;
    margin: 50px auto;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
}
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.card {
    background: #e28b8b;
    padding: 20px;
    border-radius: 25px;
    
}
.card h2 {
    margin: 0 0 10px;
}
.icon {
    width: 30px;
    height: 30px;
}
@media (max-width: 991px) {
    .navbar-nav {
        text-align: center;
        background-color: #e28b8b;
        padding: 10px 0;
    }
}

/*Footer*/
.footer {
    background-color: #FCEFF3;
    padding: 2rem 1rem;
    text-align: center;
    border-top: 1px solid #eee;
}

.footer-container {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    align-items: center;
}

.footer-text {
    font-size: 0.95rem;
    color: #A12439;
}

.social-icons img {
    width: 32px;
    height: 32px;
    margin: 0 6px;
    transition: transform 0.2s;
}

.social-icons img:hover {
    transform: scale(1.1);
}

.footer-rights {
    margin-top: 1rem;
    font-size: 0.85rem;
    color: #A12439;
}
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        gap: 10px;
    }

    .social-icons {
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    .footer-rights {
        margin-top: 10px;
        font-size: 12px;
    }
}
