.detalle-producto {
    text-align: center;
    margin-top: 50px;
}

.detalle-producto img {
    max-width: 300px;
    border-radius: 10px;
}

.btn-detalle, .btn-volver {
    background-color: #AF5693;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.btn-detalle:hover, .btn-volver:hover {
    background-color: #8B4375;
}
